<html>
    
    <link rel='icon' href='/static/img/callbreak.png'>
    <title> Call-break </title>
    <body ng-app="callBreak">
    
    <div id = "container" ng-controller = "cardCtrl"> 
   
        <div id="innerCont">
            <div id="cont3">
            <div id="player1"> <h7>player1</h7>
                <player1-dir></player1-dir>
            </div>
            </div> 
            
            <div id = "cont2">
            <div id="player2"> <h9>player2</h9>
                <player2-dir></player2-dir>
            </div>
            <div id="player3"><h9>player3</h9>
                <player3-dir></player3-dir>
            </div>
            </div>
            <div id="cont4">
            <div id="player4"><h8>player4</h8>
                 <player4-dir></player4-dir>
            </div>
            </div>    
        </div>
    
        </div>   
    </body>
    <link rel="stylesheet" href="/style/style.css">
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/js/callbreak.js"></script>
    
    <!-- controller -->
    <script type="text/javascript" src="/js/controller/cardCtrl.js"></script>
    <!--services---->
    <script type="text/javascript" src="/js/service/callbreak_services.js"></script>
    
    <!--directive----->
    <script type="text/javascript" src="/js/directive/player1Dir.js"></script>
    <script type="text/javascript" src="/js/directive/player2Dir.js"></script>
    <script type="text/javascript" src="/js/directive/player3Dir.js"></script>
    <script type="text/javascript" src="/js/directive/player4Dir.js"></script>

</html>